In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from config import pw
%matplotlib inline

In [2]:
import psycopg2

ModuleNotFoundError: No module named 'psycopg2'

In [ ]:
#database_path = "../EmployeeSQL/Employee_DB.sql"
from sqlalchemy import create_engine

engine = create_engine("postgresql:///postgres:datalori@localhost/Employee_DB")

# pg8000
#engine = create_engine('postgresql+pg8000://postgres:datalori@localhost/Employee_DB')

# psycopg2
#engine = create_engine('postgresql+psycopg2://postgres:datalori@localhost/Employee_DB')
connection = engine.connect()

In [ ]:
 employees = pd.read_sql('select * from employees', connection, parse_dates=['birth_date', 'hire_date'])

In [ ]:
 employees.head()

In [ ]:
salaries = pd.read_sql('select * from salaries', connection)

In [ ]:
salaries.head()

In [ ]:
dept_manager = pd.read_sql('select * from dept_manager', connection)

In [ ]:
dept_manager.head()

In [ ]:
titles = pd.read_sql('select * from titles', connection)

In [ ]:
titles.head()

In [ ]:
employee_salaries = employees.merge(salaries, on='emp_no')

In [ ]:
employee_salaries.head()

In [ ]:
employee_title_salaries = employee_salaries.merge(titles, left_on='emp_title_id', right_on='title_id')

In [ ]:
 employee_title_salaries.head()

In [ ]:
 title_salaries = employee_title_salaries[['title', 'salary']]

In [ ]:
title_salaries.head()

In [ ]:
 title_salaries.groupby('title')['salary'].mean().round(2)

In [ ]:
title_salaries.hist(column='salary')
plt.xlabel("Salary Ranges")
plt.ylabel("Frequency")

In [ ]:
Text(0, 0.5, 'Frequency')

In [ ]:
employees_grouped_by_title = title_salaries.groupby(['title'])['salary'].mean()

employees_grouped_by_title.plot.bar()
plt.xlabel("Job Title")
plt.ylabel("Average Salary")

In [ ]:
Text(0, 0.5, 'Average Salary')

In [ ]:
# Close connection to database
connection.close()